<ion-view view-title="Medicinas" ng-init="initUsers()">
    <ion-content>
        <div>{{ prueba }}</div>
        <div class="card">

            <ion-list>
                <ion-item class="item-icon-right" ng-repeat="user in users" ui-sref="home.medicamento({ userId: user.id })">
                  <div class="{{user | estadoMedicamento}}">
                    <h2>{{user.name}}</h2>
                    <span>{{user.type_units | capitalize}} - {{user.dosis}} <br /></span>
                    <h3 ng-show="{{user.suspend}}">Suspendido</h3>
                    <i class="icon ion-chevron-right icon accesory"></i>
                  </div>
                </ion-item>
           </ion-list>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-positive">
        <button class="button button-block" ui-sref="home.categorias">
         Nueva medicina
        </button>

    </ion-footer-bar>
</ion-view>
